---
---

@import "{{ site.theme }}";

header {
    background: #242424;
    & h1 {
        text-shadow: 0px 2px 0px #00a3ff;
    }
}
#banner {
    background: #00a3ff;
    border: none;

    .button {
        background: #242424;
        background-color: #242424;
        color: #fff !important;
        border: none;
        transition: 250ms;
        & strong {
            color: #fff !important;
        }
        &:hover {
            background: #474747;
            background-color: #474747;
            transition: 250ms;
        }
    }
}